/* Variables */
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
:root {
  --GVblue: #0032A0;
  --black: #181818;
  --white: #efefef;

  --linkColor:  #0ECBF0;
  --bigLake:  #3DD1CC;
  --midnight:  #13155C;
  --arboretum:  #4A0C6E;
  --carillonBrick:  #BA6F4C;
  --archway:  #DEC197;
}
* {
    transition: all 0.25s ease-in-out;
}
body{
  background: linear-gradient(to bottom, #84bfed 0%, #3333f1 100%);
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: none;
  gap: none;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.banner {
  width: 100%;
  height: auto;
  margin: none;
}
.title {
  width: 100%;
  height: auto;
  margin: none;
  background-color: var(--GVblue);
  padding: 20px;
}

h1 {
  width: 95%;
  text-align: center;
}
h2 {
  width: 90%;
  text-align: center;
}

.navButtons {
  justify-content: center;
  align-content: center;
  background-color: var(--black);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 20%;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  border: var(--white) 4px transparent;
}
.button:hover {
  border: solid;
}
.button img {
  width: 75%;
  aspect-ratio: 1/1;
  border-radius:20px;
}

.button1 {background-color: #0032A0; border-radius:5px;}
.button2 {background-color: #4A0C6E; border-radius:5px;}
.button3 {background-color: #13155C; border-radius:5px;}

.contactInfo {
  justify-content: center;
  align-content: center;
  background-color: var(--black);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.contactInfo img {
  width: 100%;
}
.contactInfo button {
  margin: 0;
  padding: 0;
}
.contactInfo button:hover {
  border: var(--GVblue) solid;
}


/* Keyframes for Animations*/
@keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }