/* This is a css folder that will hold all of out styles to the website*/
body{
    background: linear-gradient(to bottom, #ffffff 0%, #0ECBF0 100%);
    width: 100%;
    height: 100%;
    
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #04AA6D;}